/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/v15/
algorithmus/.vs/algorithmus/v15/Browse.VC.db
algorithmus/.vs/algorithmus/v15/Browse.VC.opendb
algorithmus/.vs/algorithmus/v15/ipch/21ccfb06b073a581.ipch
